<% include ../partials/header %>

    <div class = "container">
    
        <header class="jumbotron">
            <div class = "container">
                <h1>Welcome to Lunch Roulette</h1>
                <p>You can choose a lunch from below and pick a seat!</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/lunches/new">Add a new lunch</a>
                </p>
            </div>
        </header>
        
        <div class = "row">
            <div class = "col-lg-12">
                <h3>Our Lunch Dates</h3>
            </div>
        </div>
    
    
        <div class="row text-center" style="display:flex; flex-wrap:wrap" >
        
            <% lunches.forEach(function(lunch){%>
                <div class = "col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="https://source.unsplash.com/XABdwsxRVy0">
                        <div class="caption">
                            <h4><%= lunch.date%></h4>
                        </div>
                        <p>
                            <a href="/lunches/<%=lunch._id%>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            <% });%>
            
        </div>
        
    </div>




<% include ../partials/footer %>